<div>
  <mat-progress-bar mode="buffer" color="primary" [bufferValue]="initialLoadBufferValue" *ngIf="initialLoadBufferValue < 99"></mat-progress-bar>
  <mat-progress-bar mode="buffer" color="primary" [bufferValue]="bufferValue" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-content class="content">
    <div class="tree">

      <h1>{{project?.name}}</h1>

      <fancytree #fancytree
        [extensions]="['childcounter', 'glyph', 'table']"
        (renderTreeColumn)="renderTreeColumn($event)"
      ></fancytree>
    </div>
    <div class="control">
      <mat-card *ngIf="syncingStatus">
        <span [innerHTML]="syncingStatus"></span>
      </mat-card>
      <mat-checkbox [(ngModel)]="showIgnored" (ngModelChange)="onShowIgnoredChange()" [disabled]="isLoading">
        Show ignored metadata
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showUnassigned" (ngModelChange)="onShowUnassignedChange()" [disabled]="isLoading">
        Show unassigned metadata
      </mat-checkbox>

      <a mat-raised-button color="primary" (click)="ignoreMetadatas()" [disabled]="isLoading || initialLoadBufferValue < 40">Ignore selected</a>
      <a mat-raised-button color="warn" (click)="addStories()" [disabled]="isLoading || initialLoadBufferValue < 99">Add Stories to selected metadata...</a>
      <a mat-raised-button color="accent" (click)="removeStories()" [disabled]="isLoading || initialLoadBufferValue < 99">Remove Stories from selected metadata...</a>
    </div>
  </mat-card-content>
</mat-card>
