table {
  width: 100%;
  text-align: left;
  .name {
    min-width: 150px;
  }
  .key {
    font-size: 10px;
  }
  tr>td:nth-last-child(2), tr>th:nth-last-child(2),
  tr>td:last-child, tr>th:last-child {
    text-align: center;
  }

  i {
    cursor: pointer;
  }
}

mat-card {
  box-shadow: 0 0 0 0;
  &:hover {
    box-shadow: 0 0 0 0;
  }
}


