<mat-card>
  <form (ngSubmit)="save()" [formGroup]="form">
    <mat-card-title>{{type}} Validation</mat-card-title>
    <mat-card-content>
      <mat-input-container>
        <input matInput class="large" required placeholder="Name" formControlName="name">
      </mat-input-container>

      <mat-input-container *ngIf="form.controls['release'].value === null">
        <mat-select placeholder="Choose a Story" required formControlName="story">
          <mat-option (click)="form.controls['story'].reset(); form.controls['release'].enable()">Select a Story...</mat-option>
          <mat-option (click)="form.controls['release'].disable()" *ngFor="let story of stories" [value]="story._id">
            {{story.name}}
          </mat-option>
        </mat-select>
      </mat-input-container>

      <mat-input-container *ngIf="form.controls['story'].value === null">
        <mat-select placeholder="Choose a Release" required formControlName="release">
          <mat-option (click)="form.controls['release'].reset(); form.controls['story'].enable()">Select a Release...</mat-option>
          <mat-option (click)="form.controls['story'].disable()" *ngFor="let release of releases" [value]="release._id">
            {{release.name}}
          </mat-option>
        </mat-select>
      </mat-input-container>

      <mat-input-container>
        <mat-select placeholder="Choose a Target" required formControlName="target">
          <mat-option *ngFor="let connection of connections" [value]="connection._id">
            {{connection.folder}}
          </mat-option>
        </mat-select>
      </mat-input-container>

      <mat-input-container>
        <mat-select placeholder="Frequency" required formControlName="frequency">
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
            {{frequency}}
          </mat-option>
        </mat-select>
      </mat-input-container>

     <mat-input-container>
        <mat-select placeholder="Test Level" required formControlName="testLevel">
          <mat-option *ngFor="let testLevel of testLevels" [value]="testLevel">
            {{testLevel | UncamelCase}}
          </mat-option>
        </mat-select>
      </mat-input-container>

      <mat-input-container>
        <input matInput class="large" placeholder="Emails, notified on error (comma separated)" formControlName="emails">
      </mat-input-container>

      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
      <a mat-raised-button [routerLink]="['/project-management', 'validations']">Back</a>
    </mat-card-content>
  </form>
</mat-card>
