<div>
  <mat-progress-bar mode="buffer" color="primary" [bufferValue]="initialLoadBufferValue" *ngIf="initialLoadBufferValue < 99"></mat-progress-bar>
  <mat-progress-bar mode="buffer" color="primary" [bufferValue]="bufferValue" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-content class="content">
    <div class="tree">

      <h1>{{story?.name}}</h1>

      <fancytree #fancytree [extensions]="['childcounter', 'glyph', 'table']" (renderTreeColumn)="renderTreeColumn($event)"></fancytree>
    </div>
    <div class="git" *ngIf="story?.repository && story?.branch">
      <mat-input-container>
        <input matInput placeholder="Commit message..." [(ngModel)]="commitMessage">
      </mat-input-container>
      <br/>
      <a mat-raised-button (click)="commitToBranch()" [disabled]="isLoading || initialLoadBufferValue < 100 || !commitMessage">
        {{'Push to ' + (story.organization?(story.organization + '/'): '') + story.repository + ':' + story.branch}}
      </a>
      <br/>
      <br/>
      <a target="_blank" [href]="'https://www.github.com/' + story.username + '/' + story.repository + '/compare/' + story.branch">
        Link to the GitHub Branch (if it exists)
      </a>
    </div>
    <div class="control">
      <mat-card *ngIf="syncingStatus">
        <span [innerHTML]="syncingStatus"></span>
      </mat-card>
      <mat-checkbox [(ngModel)]="showOutdated" (ngModelChange)="toggleShowOutdated()" [disabled]="isLoading">
        Show outdated metadata
      </mat-checkbox>

      <a mat-raised-button color="primary" (click)="updateMetadata()" [disabled]="isLoading || initialLoadBufferValue < 100">Update selected metadata</a>
      <a mat-raised-button color="warn" (click)="deleteMetadata()" [disabled]="isLoading || initialLoadBufferValue < 100">Delete selected metadata</a>
      <a mat-raised-button (click)="downloadMetadata()" [disabled]="isLoading || initialLoadBufferValue < 100">Download metadata</a>
    </div>
  </mat-card-content>
</mat-card>
