md-card-content {
  display: flex;
}

div.tree {
  width: 100%;
  height: 100%;
}

div.control {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
}

[md-raised-button] {
  margin-top: 5px;
}

md-checkbox {
  margin-top: 5px;
}

input {
  width: 300px;
}
