<div>
  <mat-progress-bar mode="buffer" color="primary" bufferValue="0" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-content class="content">
    <div class="release">
      <h1>{{release?.name}}</h1>
    </div>
    <div class="control">
      <mat-card *ngIf="syncingStatus">
        <span [innerHTML]="syncingStatus"></span>
      </mat-card>
      <mat-checkbox [(ngModel)]="oldestFirst">
        Click for fetching the oldest version of metadata in case of conflicts
      </mat-checkbox>

      <a mat-raised-button color="primary" [disabled]="isLoading" (click)="downloadMetadatas()">Download</a>
    </div>
  </mat-card-content>
</mat-card>
