<div>
  <md-progress-bar mode="buffer" color="primary" bufferValue="0" *ngIf="isLoading"></md-progress-bar>
</div>
<md-card>
  <md-card-content class="content">
    <div class="release">
      <h1>{{release?.name}}</h1>
    </div>
    <div class="control">
      <md-card *ngIf="syncingStatus">
        <span [innerHTML]="syncingStatus"></span>
      </md-card>
      <md-checkbox [(ngModel)]="oldestFirst">
        Click for fetching the oldest version of metadata in case of conflicts
      </md-checkbox>

      <a md-raised-button color="primary" [disabled]="isLoading" (click)="downloadMetadatas()">Download</a>
    </div>
  </md-card-content>
</md-card>
