.large {
  width: 30%;
}

md-card {
  box-shadow: 0 0 0 0;
  &:hover {
    box-shadow: 0 0 0 0;
  }
}

.mat-input-container, .mat-select {
  width: 100%;
}

/deep/ .cdk-overlay-pane {
  left: 10px!important;
}
