<header>
  <mat-toolbar color="primary">
    <div class="title">
      <div style="width:100%">
        Salesforce Tools
      </div>
      <a href="https://www.github.com/Krisa/sftools" target="_blank">
        <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
      </a>
      <a href="https://www.twitter.com/sf_cv" target="_blank">
        <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <nav mat-tab-nav-bar *ngIf="isLoggedIn">
    <a mat-tab-link
        *ngFor="let tabLink of tabLinks; let i = index"
        [routerLink]="tabLink.link"
        [active]="activeLinkIndex === i"
        [class.active]="activeLinkIndex === i"
        (click)="activeLinkIndex = i">
      {{tabLink.label}}
    </a>
    <a mat-tab-link (click)="logout()">Log Out</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
<loading-spinner [isShown]="isSpinnerShown"></loading-spinner>
