.large {
  width: 90%
}

mat-card {
  mat-card-content {
    width: 100%;
    display: flex;
    &>div {
      width: 100%;
    }
  }
}

mat-radio-button {
  display: flex;
  padding-left: 20px;
}

.mat-input-container {
  width: calc(100% - 30px);
}
