.large {
  width: 90%
}

md-card {
  md-card-content {
    width: 100%;
    display: flex;
    &>div {
      width: 100%;
    }
  }
}

md-radio-button {
  display: flex;
  padding-left: 20px;
}

.mat-input-container {
  width: calc(100% - 30px);
}

.mat-select {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

/deep/ .mat-select-panel {
  max-height: 500px!important;
  height: 500px;
}
